.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  min-height: 100vh;
}
.clear-cart-btn {
  height: 40px;
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(248, 23, 23, 0.3);
}

.clear-cart-btn:hover {
  cursor: pointer;
  background-color: rgba(248, 23, 23, 0.7);
}
